[Unit]
Description=database's listener service
Wants=rabbitmq-server.service
After=rabbitmq-server.service

[Service]
Type=simple
RemainAfterExit=true
ExecStart=/usr/bin/php -f /home/lou/working/databaseCode.php
Restart=always
GuessMainPID=yes

[Install]
WantedBy=multi-user.target
